/*The body tag contains the header, section,
 main, article side and the footer tags*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
background-color: ghostwhite;
    height: calc(100vh - 80px);
    
  
}

#ardilogo{
    height: 300px;
    max-width: 200px;
    margin: 0 auto;
   background-image: url('../images/ardilogo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px auto;
    border-radius:30%;
    border:5px solid gold;
    
}
nav{
    background: black;
    height: 80px;
    max-width: 80%;
    margin: auto;
    border-radius: 20px;
    border:5px solid gold;
}

label.logo{
    color: goldenrod;
    font-size: 25px;
    line-height: 80px;
    padding: 0 80px;
    font-weight: bold;
    height: 300px; 
    text-align: center;
    font-family: cursive;
    max-width: 40px;

    
}

nav ul{
    float: right;
    margin-right: 0;
    
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 auto;
    
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 4px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    background: gold;
    transition: 1s;
    text-decoration: underline;
    color: black;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: fuchsia;
    text-decoration-style: solid;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@madia (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media(max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
    background:#2c3e50 ;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block; 
        margin: 10px 0;
        line-height:30px; 
        
    }
    nav ul li a {
        font-size: 20px;
        
    }
    a:hover, a.active{
    background:none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
section{

}
h1{

    max-width: 50%;
    margin: 20px auto;  
    color: darkgoldenrod;
    font-weight: bolder;
    font-size: 60px;
    text-transform: uppercase;
    
    text-align: center;
    
    
    
}
p{
   
    max-width: 1200px;
    margin: 0 auto;
    text-indent: 40px;
    padding: 40px auto;
    font-family: monospace;
    color: black;
    font-size: 25px;
      text-align: justify;
    
    
        
}
footer{
    background-color: black;
    max-width:1200px;
    height: auto;
    border-radius: 20px;
    margin: 10px auto;
    border: 5px solid gold;
    color:white;
    text-align: justify;
}
h3{
   
   text-align: center;
    
}
h4{
    text-align: center;
}






/*Styling Contact us page*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form{
  
    
    max-width: 1200px;
    margin: auto;
}

 

form header {
  margin: 0 0 20px 0; 
}
form header div {
  font-size: 90%;
  color: #999;
}
form header h2 {
  margin: 0 0 5px 0;
}
form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
	width: 25%;
  float: left;
  padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
  width: 75%;
  float: right;
}
form > div > fieldset label {
	font-size: 90%;
}
fieldset {
	border: 0;
  padding: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
	width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
}
@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: right;
  }
}
/*End of styling contact us page*/

